{% extends "layout.html" %}
{% block content %}
    <div class="text-center">
       <img class="img-responsive mx-auto d-block" style="width: 200px; max-width:75%"
       src="{{ url_for('static', filename='errors/login_default_pic.jpg' )}}"
       alt="">
        <form method="POST" action="" class="form-signin">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-label-group text-left">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group text-left">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-lg mt-1 mb-1") }}
            </div>
            <small class="text-muted ml-2">
                <a class="gray" href="{{ url_for('users_bp.reset_request') }}">Forgot Password?</a>
            </small>
        </form>
    </div>
{% endblock content %}
